@model MCAWebsiteMVC.Models.Student

@{
    ViewBag.Title = "Delete Student";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div id="splash"></div>

<div id="content">
    <div class="post">
        <h2 style="font-family: 'Times New Roman', Times, serif; font-size: xx-large; color: #FF9900;  margin-bottom: 20px;">
            Delete Student
        </h2>
        <div class="entry">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.stud_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_name)
                    </dd>

                    @*<dt>
                @Html.DisplayNameFor(model => model.stud_fname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.stud_fname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.stud_mname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.stud_mname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.stud_lname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.stud_lname)
            </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Semester.sem_no)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Semester.sem_no)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stud_dob)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_dob)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stud_batch)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_batch)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stud_house)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_house)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stud_street)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_street)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stud_city)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_city)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stud_state)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_state)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stud_country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_country)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stud_pin)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_pin)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stud_email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.stud_phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.stud_phone)
                    </dd>


                </dl>

                @using (Html.BeginForm("Delete", "Student", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color" style="margin-left: 75px;">
                        @Html.ActionLink("Back", "Index", "Student", null, new { @class = "btn btn-warning btn-md", style = "margin-left: 20px;" })
                        <input type="submit" value="Delete" class="btn btn-danger btn-md" style="margin-left: 20px;" />
                    </div>
                }
            </div>

        </div>
    </div>

    <div style="clear: both;">&nbsp;</div>
</div>
<!-- end #content -->

<div id="sidebar" style="margin-top: 150px;">
    <ul>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: medium; font-weight: bold; margin-bottom: 15px;">
            @Html.ActionLink("Student Details", "Index", "Student", null, new { style = "color: black;" })
        </li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: medium; font-weight: bold; margin-bottom: 15px;">
            @Html.ActionLink("Faculty Details", "Index", "Faculty", null, new { style = "color: black;" })
        </li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: medium; font-weight: bold; margin-bottom: 15px;">
            @Html.ActionLink("Change Password", "Index", "Admin", null, new { style = "color: black;" })
        </li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: medium; font-weight: bold; margin-bottom: 15px;">
            @Html.ActionLink("Logout", "Index", "Home", null, new { style = "color: black;" })
        </li>
    </ul>
</div>
<!-- end #sidebar -->
<div style="clear: both;">&nbsp;</div>
