@model MCAWebsiteMVC.Models.Faculty

@{
    ViewBag.Title = "Delete Faculty";
}

<link href="~/Content/Site.css" rel="stylesheet" />

<div id="splash"></div>

<div id="content">
    <div class="post">
        <h2 style="font-family: 'Times New Roman', Times, serif; font-size: xx-large; color: #FF9900;  margin-bottom: 20px;">
            Delete Faculty
        </h2>
        <div class="entry">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.fac_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_fname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_fname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_lname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_lname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_dob)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_dob)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_degree)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_degree)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_doj)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_doj)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_house)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_house)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_street)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_street)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_city)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_city)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_state)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_state)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_country)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_pin)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_pin)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_phone)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_phone)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fac_name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fac_name)
                    </dd>

                    @*<dt>
            @Html.DisplayNameFor(model => model.Login.uname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login.uname)
        </dd>*@

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-actions no-color" style="margin-left: 75px;">
                    @Html.ActionLink("Back", "Index", "Faculty", null, new { @class = "btn btn-warning btn-md", style = "margin-left: 20px;" })
                    <input type="submit" value="Delete" class="btn btn-danger btn-md" style="margin-left: 20px;" />
                </div>
                }
            </div>
        </div>
    </div>

    <div style="clear: both;">&nbsp;</div>
</div>
<!-- end #content -->

<div id="sidebar"  style="margin-top: 150px;">
    <ul>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: medium; font-weight: bold; margin-bottom: 15px;">
            @Html.ActionLink("Faculty Details", "Index", "Faculty", null, new { style = "color: black;" })
        </li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: medium; font-weight: bold; margin-bottom: 15px;">
            @Html.ActionLink("Student Details", "Index", "Student", null, new { style = "color: black;" })
        </li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: medium; font-weight: bold; margin-bottom: 15px;">
            @Html.ActionLink("Change Password", "Index", "Admin", null, new { style = "color: black;" })
        </li>
        <li style="font-family: 'Times New Roman', Times, serif; font-size: medium; font-weight: bold; margin-bottom: 15px;">
            @Html.ActionLink("Logout", "Index", "Home", null, new { style = "color: black;" })
        </li>
    </ul>
</div>
<!-- end #sidebar -->
<div style="clear: both;">&nbsp;</div>
